.alert {
    font-size: 0.875rem;
    font-weight: 600;
    z-index: unset !important;
}
.alert:not(.alert-light) {
    color: white;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: calc(100% - 32px - 24px - 24px - 1px) !important;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}
#navbar > ul.navbar-nav.justify-content-end > li.nav-item.dropdown > div {
    top: 0.5rem !important;
}
.nav-item .nav-link {
    transition: 150ms;
}
.navbar-vertical.bg-white .navbar-nav > .nav-item .nav-link:not(.active):hover {
    background-color: #f6f9fc !important;
    border-radius: 0.5rem !important;
}
table.table th {
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 0.65rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    opacity: 0.7 !important;
}
table.table-small th {
    font-size: 0.75rem !important;
    width: 0;
    padding-right: 1.5rem !important;
}
table.table td {
    font-size: 0.875rem !important;
}

table .freeze {
    background-color: white;
    position: sticky;
    right: 0;
    top: auto;
    width: 0;
    z-index: 1 !important;
    padding: 0.5rem 0.15rem;
}
.form-floating:not(.form-floating:last-child) {
    margin-bottom: 1rem;
}
.btn-sm {
    padding: 0.5rem .75rem !important;
}
